<nav class="sticky top-0 w-full bg-white drop-shadow-md shadow-gray-500/50">
    <div class="container mx-auto py-4 flex justify-between items-center">
        <a href="{% url 'homePage' %}" class="text-lg font-semibold text-gray-800">Diplomitööd</a>
        <ul class="flex space-x-4">
            <li>
                <a href="{% url 'searchPage' %}" class="text-gray-600 hover:underline hover:text-gray-800">Otsing</a>
            </li>
            <li>
                <a href="{% url 'aboutPage' %}" class="text-gray-600 hover:underline hover:text-gray-800">Projektist</a>
            </li>
            <li>
                <a href="{% url 'contactPage' %}" class="text-gray-600 hover:underline hover:text-gray-800">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
